Analysis/python/*.pdf
Training/python/*.db
Training/python/XGB_Models
*/python/__pycache__/
Training/python/hyperlogs
Production/.output/PreSelect/*
Production/.output/Process/*
Production/.output/ShuffleMerge/*
Training/condor/optimisation/logs